
.photo{
    width:150px;
    
}
.main{
    background-color: beige;
   margin: 100px auto 0px auto;
    width: 400px;
    padding: 40px;
    border: 2px dotted gray;
    display: flex;
    justify-content: space-around;
    border-bottom: 5px solid purple;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.border-blue{

    border: 2px dotted gray;
    text-align: center;

}
